<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='register_illustration.jpeg') }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Dashboard</title>
</head>
<body>
    <div class="container">
        <div class="dash_row dashboard_left">
            <div class="student_info">
                <img class="student_image" src="{{ url_for('static', filename='student_image.png') }}" />
                <div class="student_name">{{name}}</div>
            </div>
            <div class="dash_image_div">
                <img class="dash_image" src="{{ url_for('static', filename='dashboard_illustration.png') }}" />
            </div>
        </div>
        <div class="dash_row dashboard_right">
            <div class="dash_head">
                <div class="dash_header">Practice Tests</div>
                <button class="log_out"><a href="{{ url_for('login') }}">Log Out</a></button>
            </div>
            <div class="dash_body">
                <form action="{{ url_for('student_profile') }}" method="post">
                    <input class="take_test_button" type="submit" value="Take a demo test"><br><br>
                </form>
            </div>
        </div>
    </div>
</body>
</html>