/* Global Styles */
* { 
  padding: 0; 
  margin: 0; 
}

html, body {
  min-height: 100% !important;
  height: 100%;
  font-family: sans-serif;
  box-sizing: border-box !important;
  overflow: hidden;
  background-color: white;
}

a {
  text-decoration: none;
  color: #fff;
}

/* Container */
.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

/* Dashboard Rows */
.dash_row {
  display: flex;
  flex-direction: column;
}

/* Left Section */
.dashboard_left {
  width: 50%;
  height: 100vh;
  background-color: #8EC0FA;
}

.dash_top_left_img {
  width: 5vw;
  /* position: absolute; */
  top: 2.5vw;
  left: 2.5vw;
  margin: 1rem 0 0 1rem;
}

.student_info {
  height: 60%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.student_image {
  width: 30%;
  margin-bottom: 1.5em;
}

.student_name {
  font-size: 1.5em;
  color: #000000;
}

.dash_image_div {
  height: 40%;
  width: 100%;
}

.dash_image {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* Right Section */
.dashboard_right {
  width: 50%;
  height: 100%;
}

.dash_head {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0;
}

.dash_header {
  font-size: 2em;
  color: #9EA1A4;
  font-weight: bold;
  padding: 0 1rem;
}

.log_out {
  font-size: 1em;
  color: white;
  cursor: pointer;
  background-color: #0076FF;
  border: none;
  /* margin-left: auto; */
  margin-right: 1rem;
  padding: 0.8em;
}

.log_out_link {
  color: white;
}

.dash_body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.take_test_button {
  font-size: 1.5em;
  color: #fff;
  cursor: pointer;
  background-color: #0076FF;
  border: none;
  padding: 0.8em;
}
