/* Reset default padding and margin */
* { 
  padding: 0; 
  margin: 0; 
  box-sizing: border-box;
}

/* Set base styles for html and body */
html, body {
  min-height: 100%;
  height: 100%;
  background-color: white;
  font-family: sans-serif;
  overflow: hidden;
}

/* Container setup for the Register component */
.container {
  height: 100%;
  width: 100%;
  /* background-color: #8EC0FA; */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Register component */
.register_right {
  width: 60%;
  background-color: #8EC0FA;
  /* background-color: white; */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.register_form {
  width: 50%;
  padding: 2em;
  /* background-color: #8EC0FA; */
  border-radius: 8px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

/* Form header */
.header {
  font-family: sans-serif;
  font-size: 2.5em;
  color: #000000;
  margin-bottom: 1.5em;
  font-weight: bold;
  text-align: center;
}

/* Input fields */
.input_field {
  text-align: center;
  width: 100%;
  font-size: 1.2em;
  padding: 0.7em;
  margin-bottom: 0.5em;
  color: black;
  background-color: #F3F3F3;
  border: none;
  border-radius: 40px;
}

/* Select dropdown */
#gender_select {
  width: 100%;
  font-size: 1.2em;
  padding: 0.7em;
  margin-bottom: 0.5em;
  color: black;
  border: none;
  border-radius: 40px;
}

/* File upload label */
.label {
  display: block;
  font-family: sans-serif;
  font-size: 1.2em;
  padding: 0.7em;
  margin-bottom: 0.5em;
  background-color: #F3F3F3;
  color: black;
  cursor: pointer;
  border-radius: 40px;
  text-align: center;
}

/* Submit button */
.submit_button {
  width: 100%;
  font-size: 1.2em;
  padding: 0.9em;
  margin-top: 1.5em;
  background-color: #0076FF;
  color: #fff;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit_button:hover {
  background-color: #2985ee;
}

/* Register link */
.register_link {
  color: black;
  font-size: 1em;
  margin-top: 1.5em;
  width: 100%;
  text-align: center;
  /* border-radius: 40px; */
}

.sign_in_instead {
  color: #0076FF;
  text-decoration: underline;
}

.register_image {
  /* background-color: white; */
  height: 50%;
  width: 50%;
}